.ApartmentForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 1rem;
  }
  
  .rating-icons {
    display: flex;
    margin-top: 0.5rem;
    justify-content: center;
  }
  
  .star {
    color: lightgray;
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
  
  .star:hover {
    color: orange;
  }
  
  .selected {
    color: orange;
  }
  
  button {
    padding: 0.5rem 1rem;
    background-color: orange;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
  }
  
  button:hover {
    background-color: darkorange;
  }

  .submitBar {
    display: flex;
    justify-content: center;
  }

  button:first-child {
    margin-right: 1rem; /* or any other value that works for you */
  }

  .submissions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .submissions {
    padding: 5px;
    margin: 5px;
    border: 1px solid lightgray;
    display: inline-block;
    width: 200px;
    text-align: center;
    font-size: 0.9rem;
  }